* {
  font-family: "Comfortaa", cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000;
}

.rgbbtn {
  font-family: "Comfortaa", cursive;
  position: absolute;
  width: 150px;
  height: 50px;
  line-height: 48px;
  background: #000;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 3px;
}

.rgbbtn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    #fb0094,
    #00f,
    #0f0,
    #ff0,
    #f00,
    #fb0094,
    #00f,
    #0f0,
    #ff0,
    #f00
  );
  background-size: 400%;
  opacity: 0;
  filter: blur(14px);
  transition: 0.5s;
}

.rgbbtn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    #fb0094,
    #00f,
    #0f0,
    #ff0,
    #f00,
    #fb0094,
    #00f,
    #0f0,
    #ff0,
    #f00
  );
  background-size: 250%;
  opacity: 0;
  transition: 0.5s;
}

.rgbbtn:hover::before,
.rgbbtn:hover::after {
  opacity: 1;
  animation: animate 16s linear infinite;
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 300% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.rgbbtn span {
  position: absolute;
  display: block;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  text-align: center;
  background: #0c0c0c;
  color: rgba(255, 255, 255, 0.2);
  z-index: 1;
}

.rgbbtn:hover span {
  color: rgba(255, 255, 255, 1);
}

.navbar {
  margin: 0 0 20px 0;
  padding: 10px;
  background-color: #5c5b5b;
}

.navbar-brand {
  margin: 10px;
}

.nav-link {
  margin: 10px;
  text-align: right;
}

#footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 100%;
  background-color: #5c5b5b;
}

#footericon {
  margin: 20px 10px;
}

.footertext {
  color: antiquewhite;
}

/* .description {
  margin: 32px;
  padding: 16px;
  height: 58px;
  width: 750px;
  top: 1000px;
  right: 220px;
  text-align: center;
  border-radius: 20px;
  background-color: darkgrey;
} */
